body { 
    background-color: #f0f2f5;
 }

/* Form container */
form {
  max-width: 350px;
  margin: 150px auto;
  background-color: #ffffff;
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}

/* Labels */
.form-label {
  font-weight: bold;
  color: #333;
}

/* Inputs */
.form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Button */
.btn-primary {
  background-color: #0069d9;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

